@import "@fortawesome/fontawesome-free/css/all.css";

#app {
  max-width: 60em;
  margin: auto;

  >div.text {
    max-width: 40em;
    margin: auto;
  }

  >div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

a {
  &.no-highlight {
    color: inherit;
  }

  text-decoration: none;
}

.faq {
  details[open] {
    padding-bottom: 0.5em;

    >p {
      margin-left: 0.5em;
      padding-left: 0.5em;
      border-left: 0.2em solid #bbb;
    }
  }

  summary {
    padding: 0.5em 0;
    cursor: pointer;
  }
}

.align-center {
  text-align: center;
  margin: auto;
}

.align-right {
  text-align: right;
  margin-left: auto;
}

h1,
h2,
h3 {
  text-align: center;
}

.card {
  background-color: white;

  .stats {
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
  }

  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em;

  >div {
    margin: 0.5em;
  }

  .new-branches {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;

    >span {
      flex-basis: content;
    }
  }

  p.description {
    margin: 0;
    color: #333;

    &::before {
      content: "> ";
    }
  }
}

span.space {
  display: inline-block;
  width: 1em;
}

.i {
  font-style: italic;
}

.commits {
  ul {
    list-style: none;

    >li {
      padding-left: 0;
    }
  }

  summary {
    cursor: pointer;
  }
}

a.repo {
  font-weight: bold;
  font-family: monospace;
}

.additions {
  font-family: monospace;
  padding: 0em 0.2em 0em 0.2em;
  background-color: #ccffd8;

  &::before {
    content: "+";
  }
}

.deletions {
  font-family: monospace;
  padding: 0em 0.2em 0em 0.2em;
  background-color: #ffd7d7;

  &::before {
    content: "-";
  }
}

div.input-set {
  display: flex;
  flex-direction: row;
  justify-content: center;

  >* {
    border-radius: 0;
    border: 1px solid black;
    border-right: none;
    box-sizing: border-box;
  }

  > :first-child {
    border-radius: 0.5em 0 0 0.5em;
  }

  > :last-child {
    border-radius: 0 0.5em 0.5em 0;
    border-right: 1px solid black;
  }
}

button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid black;
}
